@model List<Hizmet>

<h3>Hizmetler</h3>

<a asp-action="Create" class="btn btn-success mb-3">
    + Yeni Hizmet Ekle
</a>

<table class="table table-bordered">
    <tr>
        <th>Ad</th>
        <th>Süre</th>
        <th>Ücret</th>
        <th>İşlem</th>
    </tr>

    @foreach (var h in Model)
    {
        <tr>
            <td>@h.Ad</td>
            <td>@h.Sure dk</td>
            <td>@h.Ucret ₺</td>
            <td>
                <a asp-action="Details" asp-route-id="@h.Id" class="btn btn-info btn-sm">Detay</a>
                <a asp-action="Update" asp-route-id="@h.Id" class="btn btn-warning btn-sm">Düzenle</a>
                <a asp-action="Remove" asp-route-id="@h.Id" class="btn btn-danger btn-sm">Sil</a>
            </td>
        </tr>
    }
</table>
